/*.container{*/
/*    max-width: 1600px;*/
/*}*/
ul{
    padding: 0;
}
li{
    list-style-type:none;

}
section{
    margin: 3rem 0;
}
.science__nav{

}
.nav__items{
display: grid;
    grid-template-columns: [first] auto [second] auto [item3] auto [item4] auto;
    padding: 1rem;
    text-align: center;
    margin: 0;
}
.nav__item{
border-inline-start: solid 1px;
}
.nav__item-baza{
border-inline-end: solid 1px;
}
.nav__item a{
    cursor: pointer;
    padding: 1rem;
    font-size: 20px;
}
.Science__title,.post-maintext h4,.author-items,.post-DOI h5,.post-DOI p{
max-width: 98%;
    margin: 0.5rem 1rem;
}
.Science__title-text{

}
.science__title-date{

}
.science__title-date a{
    font-size: 17px;
    text-decoration: underline;
    padding: 0 0.5rem;
}
.date-a1{
    border-inline-end: solid 1px;
}
.Science__post{

}
.author-items{
    display: flex;
}
.author-item{

}
.post-maintext{

}
.post-maintext h4{
    font-size: 20px;
    font-weight: 500;
}
.post-DOI{
}
.post-DOI h5,.post-DOI p{
    font-weight: lighter;
    text-decoration: underline 1px solid grey;
}
.post-DOI h5{
margin: 0.3rem 1rem;
}
.post-DOI p{

}
@media screen and (min-width: 1200px) {
    /*.container{*/
    /*    max-width: 1600px;*/
    /*}*/
}
@media screen and (max-width: 1200px) {

    /*.container{*/
    /*    max-width: 1600px;*/
    /*}*/
}
@media screen and (max-width: 992px) {
    .nav__items{
        padding: 1rem 0;
    }
.nav__item a{
    font-size: 18px;
}

}
@media screen and (max-width: 768px) {
.nav__items{
    padding: 1rem 0.3rem ;
}
    .nav__item a{
        font-size: 15px;
        padding: 0.5rem;
    }
}
@media screen and (max-width: 576px) {
    .Science__header{
        display: grid;
        place-content: center;
    }
    .nav__items {
        display: grid;
        grid-template-columns: max-content;
        padding: 0.5rem;
    }
    .nav__item{
        border: none;
        margin: 0.3rem 0;
    }
    .nav__item a {
        font-size: 22px;
    }
}